<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
  <title>Create new collaboration</title>
  <meta charset="UTF-8" />
</head>
<body>
<h1>Skill Sharing</h1>
<h2>New Collaboration</h2>
<form action="#" th:action="@{/collaboration/add}"
      th:object="${collaboration}" method="post">
  <table>
    <tr th:if="${request_name != null}">
      <td><label>Request</label></td>
      <td>
        <label th:text="${request_name}"></label>
        <input type="hidden" th:field="*{idRequest}" />
      </td>
    </tr>
    <tr th:if="${offer_name != null}">
      <td><label>Offer</label></td>
      <td>
        <label th:text="${offer_name}"/>
        <input type="hidden" th:field="*{idOffer}" />
      </td>
    </tr>

    <tr>
      <td><label>Start date</label></td>
      <td><input type="date" th:min="${start_date}" th:max="${end_date}" th:field="*{startDate}"/></td>
    </tr>
    <tr>
      <td><label>End date</label></td>
      <td><input type="date" th:min="${start_date}" th:max="${end_date}" th:field="*{endDate}"/></td>
    </tr>
    <!-- todo: Añadir esto en cualquier fila de la tabla en caso de que de error al enviar la solicitud.
    todo:      en caso contrario eliminar este bloque de comentarios
    <tr>
      <td><label>Score</label></td>
      <td><input type="hidden" min="1" max="5" th:field="*{score}"/></td>
    </tr>

    <tr>
      <td><label>Comment</label></td>
      <td><input type="hidden" th:field="*{comment}" /></td>
    </tr>
    -->
    <tr>
      <td colspan="2"><input type="submit" value="Add collaboration" /></td>
      <td colspan="2"><a href="/collaboration/list"> <button type="button" value="return" class="btn btn-outline-secondary">Return</button></a>
    </tr>
  </table>
</form>
</body>
</html>
