<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
  <title>Create new collaboration</title>
  <meta charset="UTF-8" />
</head>
<body>
<h2>New Collaboration</h2>
<form action="#" th:action="@{/collaboration/add}"
      th:object="${collaboration}" method="post">
  <table>
    <tr>
      <td><label>Request</label></td>
      <td><input type="text" th:field="*{idRequest}" /></td>
    </tr>
    <tr>
      <td><label>Offer</label></td>
      <td><input type="text" th:field="*{idOffer}" /></td>
    </tr>

    <tr>
      <td><label>Start date</label></td>
      <td><input type="text" th:field="*{startDate}" /></td>
    </tr>
    <tr>
      <td><label>End date</label></td>
      <td><input type="text" th:field="*{endDate}" /></td>
    </tr>
    <tr>
      <td><label>Score</label></td>
      <td><input type="number" min="1" max="5" th:field="*{score}"/></td>
    </tr>

    <tr>
      <td><label>Comment</label></td>
      <td><input type="text" th:field="*{comment}" /></td>
    </tr>

    <tr>
      <td colspan="2"><input type="submit" value="Add collaboration" /></td>
      <td colspan="2"><a href="/collaboration/list"> <button type="button" value="return" class="btn btn-outline-secondary">Return</button></a>
    </tr>
  </table>
</form>
</body>
</html>
