<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
    <title>Collaboration Management</title>
    <meta charset="UTF-8" />
</head>

<body>
<div class="header">
    <h1>Skill Sharing</h1>
    <div th:if="*{student != null}">
        <img src="/profile_picture.png" alt="profile_picture">
        <h3 th:text="*{student.name}"></h3>
        <h5 th:text="*{student.balanceHours}"></h5>
    </div>
</div>
<div  >
    <div style="float: left; width: 50%;">
        <table >
            <tbody>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Student</th>
                <th>Skill Name</th>
                <th>Skill Level</th>
                <th></th>
            </tr>
            </thead>
            </tbody>
        </table>
    </div>
    <div style="float: left; width: 50%;">
        <table border="1" width="100%">
            <tbody>
            <tr>
                <td>2</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="clear: both;"></div>
</div>
</body>

</body>
</html>