<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
    <title>Collaboration Management</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Skill Sharing</h1>
<h2>List of Collaborations</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>IdRequest</th>
        <th>IdOffer</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Score</th>
        <th>Comment</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="collaboration: ${collaborations}">
        <td th:text="${collaboration.idRequest}"></td>
        <td th:text="${collaboration.idOffer}"></td>
        <td th:text="${collaboration.startDate}"></td>
        <td th:text="${collaboration.endDate}"></td>
        <td th:text="${collaboration.score}"></td>
        <td th:text="${collaboration.comment}"></td>
        <td><a th:unless="@{${collaboration.endDate} > ${hoy}} " th:href="{@/collaboration/valorar/{idRequest}/{idOffer}(idRequest=${collaboration.idRequest}),(idOffer=${collaboration.idOffer})}"> <button type="button" class="btn btn-success" >Valorate Collaboration</button></a>></td>
        <td><a th:href="@{/collaboration/update/{idRequest}/{idOffer}(idRequest=${collaboration.idRequest}),(idOffer=${collaboration.idOffer})}"><button type="button" class="btn btn-warning" >Update</button></a></td>
        <td><a th:href="@{/collaboration/delete/{idRequest}/{idOffer}(idRequest=${collaboration.idRequest}),(idOffer=${collaboration.idOffer})}"><button type="button" class="btn btn-danger">Delete</button></a></td>

    </tr>
    </tbody>
</table>

<a href=" /"><button type="button" class="btn btn-secondary">Return</button></a>

</body>
</html>