<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
  <title>Update Collaboration</title>
  <meta charset="UTF-8" />
</head>
<body>
<h1>Skill Sharing</h1>
<h2>Update Collaboration</h2>
<form action="#" th:action="@{/collaboration/update}"
      th:object="${collaboration}" method="post">
  <table>
    <tr>
      <td><label>Collaboration</label></td>
      <td><input type="number" th:field="*{idRequest}" th:value="${collaboration.idRequest}" readonly/></td>
    </tr>
    <tr>
      <td><label>Offer</label></td>
      <td><input type="text" th:field="*{idOffer}" th:value="${collaboration.idOffer}"/></td>
    </tr>
    <tr>
      <td><label>Start Date</label></td>
      <td><input type="text" th:field="*{startDate}" th:value="${collaboration.startDate}"/></td>
    </tr>
    <tr>
      <td><label>End Date</label></td>
      <td><input type="text" th:field="*{endDate}" th:value="${collaboration.endDate}"/></td>
    </tr>
    <tr>
      <td><label>Score</label></td>
      <td><input type="number" min="1" max="5" th:field="*{score}"/></td>
    </tr>
    <tr>
      <td><label>Comment</label></td>
      <td><input type="text" th:field="*{comment}" th:value="${collaboration.comment}"/></td>
    </tr>

    <tr>
      <td colspan="2"><input type="submit" value="Update Collaboration" /></td>
      <td colspan="2"><a href="/collaboration/list"> <button type="button" value="return" class="btn btn-outline-secondary">Return</button></a>
    </tr>
  </table>
</form>
</body>
</html>
