<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
    <title>Create new request</title>
    <meta charset="UTF-8" />
</head>
<body th:object="${session}">
<div class="header">
    <h1>Skill Sharing</h1>
    <h2>New Request</h2>
    <div>
        <img src="/profile_picture.png" alt="profile_picture">
        <h3 th:text="*{student.name}"></h3>
        <h5 th:text="*{student.balanceHours}"></h5>
    </div>
</div>

<form action="#" th:action="@{/request/add}"
      th:object="${request}" method="post">
    <table>
        <tr>
            <td><label>Name</label></td>
            <td>
                <input type="text" th:field="*{name}" />
                <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
            </td>
        </tr>
        <tr>
            <td><label>Description</label></td>
            <td>
                <textarea th:field="*{description}"></textarea>
                <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
            </td>
        </tr>
        <tr>
            <td><label>Start date</label></td>
            <td>
                <input type="date" th:field="*{startDate}" />
                <div class="error" th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></div>
            </td>
        </tr>
        <tr>
            <td><label>End date</label></td>
            <td>
                <input type="date" th:field="*{endDate}" />
                <div class="error" th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}"></div>
            </td>
        </tr>
        <tr>
            <td><label>Skill type and level</label></td>
            <td><select type="text" th:field="*{skillTypeLevel}" class="btn btn-outline-secondary">
                <option th:each="skillType: ${skillTypes}" th:value="${skillType}" th:text="${skillType}"></option>
            </select></td>
        </tr>
        <tr>
            <td><input type="submit" value="Add request" class="btn btn-outline-secondary"/></td>
            <td><a href="/request/list"> <button type="button" value="return" class="btn btn-outline-secondary">Return</button></a></td>
        </tr>
    </table>
</form>
</body>
</html>