<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
    <title>Offer Management</title>
    <meta charset="UTF-8" />
</head>
<body>
<h1>Skill Sharing</h1>
<h2>List of requests</h2>

<div class="menu_container" th:each="listContainer: ${listContainers}">

    <div class="list_item" th:each="request: ${listContainer}">

        <h4 th:text="${request.name}"></h4>
        <h5 th:text="${request.startDate}+' → '+${request.endDate}"></h5>
        <p th:text="${request.description}"></p>
        <h5 th:text="${request.skillName}+' - '+${request.skillLevel}"></h5>
        <a th:href="@{/request/listcolab/{skillName}/{skillLevel}/{id}(skillName=${request.skillName},skillLevel=${request.skillLevel}, id=${request.id})}"><button type="button" class="btn btn-warning" >Requests associated</button></a>


    </div>

</div>

<a th:href="@{/request/add}"><button type="button" class="btn btn-success">Add request</button></a>
<a href="../"><button type="button" class="btn btn-secondary">Return</button></a>
</body>
</html>