<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Skill management</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>List of skill's type</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Level</th>
        <th>Description</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="skillType: ${skills}">
        <td th:text="${skillType.name}"></td>
        <td th:text="${skillType.level}"></td>
        <td th:text="${skillType.description}"></td>
        <td><a th:href="@{/skillType/update/{name}/{level}(name=${skillType.name},level=${skillType.level}})}">Update</a>
        </td>
        <td><a th:href="@{/skillType/delete/{name}/{level}(name=${skillType.name},level=${skillType.level}})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Add skillType</a>
</body>
</html>