<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
    <title>Skill Sharing</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body th:object="${session}">
    <div class="header">
        <h1>Skill Sharing</h1>
        <img src="/profile_picture.png" alt="profile_picture">
        <h3 th:text="*{student.name}"></h3>
        <h5 th:text="*{student.balanceHours}"></h5>
    </div>
    <ul>
        <li><a href="student/list">Student management</a></li>
        <li><a href="skillType/list">Skills management</a></li>
        <li><a href="offer/list">Offer management</a></li>
        <li><a href="request/list">Requests management</a></li>
        <li><a href="collaboration/list">Collaborations management</a></li>
    </ul>

</body>
</html>