body{
    background-color: #F5F5F5;
    margin:2% 7%;
}

.header{
    display: flex;
    justify-content: space-between;
}

.header h1, .header h2, .header div{
    width: 15%;
    text-align: center;
}

.header h5{
    width: 60%;
    text-align: center;
}

.header img{
    width: 25%;
}

.loggeduser {
 color: gray;
 text-align: right;
 margin-right: 10pt;
 }

form{
    padding: 2% 10%;
    margin: 0 25%;
    align-content: center;
    font-family: "Comic Sans MS", sans-serif;
    border-style: solid;
    border-color: gray;
    border-width: 3px;
}

form table{
    width: 100%;
}

input, textarea, select{
    margin: 3% 7%;
}

h1{
    color: darkorange;
}

button{
    margin-left: 5px;
}

#hours{
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 5%;
    text-align: center;
}

.error{
    color: red;
}

/* Items in main menu and skp menu */

.menu_container{
    display: flex;
    margin-top: 5%;
    margin-bottom: 2%;
    justify-content: space-evenly;
}

.menu_item{
    width: 10%;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    cursor:pointer;

}

.medium_image_container{
    padding: 5% 0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.small_image_container{
    height: 70%;
    padding: 17% 0 5% 0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.medium_image_container img{
    width: 45%;
    height: auto;
}

.small_image_container img{
    width: 22.5%;
    height: auto;
}


/* Items in /list */

.list_item{
    width: 20%;
    padding: 1%;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.list_item *{
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}

.list_item h4{
    font-weight: bold;
}

#map_container{
    text-align: center;
}

