<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Skill Sharing</title>
</head>
<body th:object="${session}">
    <div class="header">
        <h1>Skill Sharing</h1>
        <h2>MENU</h2>
        <div th:if="*{student != null}">
            <img th:if="*{student.gender.name() == 'FEMALE' and student.skp == true}" src="/SKP_woman.png" alt="profile_picture" class="menu_item" onclick="window.location='student/perfil';">
            <img th:if="*{student.gender.name() != 'FEMALE' and student.skp == true}" src="/SKP_man.png" alt="profile_picture" class="menu_item" onclick="window.location='student/perfil';">
            <img th:if="*{student.gender.name() == 'FEMALE' and student.skp == false}" src="/woman.png" alt="profile_picture" class="menu_item" onclick="window.location='student/perfil';">
            <img th:if="*{student.gender.name() != 'FEMALE' and student.skp == false}" src="/man.png" alt="profile_picture" class="menu_item" onclick="window.location='student/perfil';">
            <h3 th:text="*{student.name}"></h3>
            <h5 th:text="*{student.balanceHours}"></h5>
        </div>
    </div>

    <div class="menu_container">
        <div th:unless="*{student == null}" class="menu_item" onclick="window.location='offer/listusu';">
            <div class="small_image_container">
                <img th:if="*{student.gender.name() == 'FEMALE'}" src="/woman.png" alt="profile_picture">
                <img th:if="*{student.gender.name() != 'FEMALE'}" src="/man.png" alt="profile_picture">
                <img src="/offer.png" alt="Offer image">
            </div>
            <p>My Offers</p>
        </div>

        <div th:unless="*{student == null}" class="menu_item" onclick="window.location='request/listusu';">
            <div class=small_image_container>
                <img th:if="*{student.gender.name() == 'FEMALE'}" src="/woman.png" alt="profile_picture">
                <img th:if="*{student.gender.name() != 'FEMALE'}" src="/man.png" alt="profile_picture">
                <img src="/request.png" alt="Request image">
            </div>
            <p>My Requests</p>
        </div>

        <div th:unless="*{student == null}" class="menu_item" onclick="window.location='collaboration/list';">
            <div class=small_image_container>
                <img th:if="*{student.gender.name() == 'FEMALE'}" src="/woman.png" alt="profile_picture">
                <img th:if="*{student.gender.name() != 'FEMALE'}" src="/man.png" alt="profile_picture">
                <img src="/collaboration.png" alt="Collaboration image">
            </div>
            <p>My Collaborations</p>
        </div>


        <div th:if="*{student != null and student.skp == true}" class="menu_item" onclick="window.location='menu';">
            <div class=medium_image_container>
                <img th:if="*{student.gender.name() == 'FEMALE'}" src="/SKP_woman.png" alt="profile_picture">
                <img th:if="*{student.gender.name() != 'FEMALE'}" src="/SKP_man.png" alt="profile_picture">
            </div>
            <p>SKP Menu</p>
        </div>
    </div>

    <div class="menu_container">
        <div class="menu_item" onclick="window.location='offer/list';">
            <div class="medium_image_container">
                <img src="/offer.png" alt="Offer image" class="medium_image">
            </div>
            <p>Offers</p>
        </div>

        <div class="menu_item" onclick="window.location='request/list';">
            <div class=medium_image_container>
                <img src="/request.png" alt="Request image" class="medium_image">
            </div>
            <p>Requests</p>
        </div>

        <div th:if="*{student == null}" class="menu_item" onclick="window.location='login';">
            <div class="medium_image_container">
                <img src="/login.png" alt="Login image" class="medium_image">
            </div>
            <p>Login</p>
        </div>

        <div th:unless="*{student == null}" class="menu_item" onclick="window.location='logout';">
            <div class="medium_image_container">
                <img src="/logout.png" alt="Logout image" class="medium_image">
            </div>
            <p>Logout</p>
        </div>
    </div>

</body>
</html>