<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <h1>Seguridad</h1>
    <h2>Login</h2>
    <form action="#" th:action="@{/index}" method="post">
        <p>
            <label>Correo:</label>
            <input class="form_control" type="text" th:field="*{correo}"/>
        </p>
        <p>
            <label>Contraseña:</label>
            <input class="form_control" type="password" th:field="*{pwd}"/>
        </p>
        <input type="submit" value="Login"/>
        <a href="/usuario/registro"><button type="button" class="btn btn-success">Registro</button></a>
    </form>
</body>
</html>