<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
<link rel="stylesheet" type="text/css" href="/css/skillsharing.css"
      th:href="@{/css/skillsharing.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Skill Sharing</title>
</head>
<body th:object="${session}">

    <h1>Skill Sharing</h1>

    <div>
        <td colspan="2"><a href="/offer/list"> <button type="button" value="return" class="btn btn-outline-secondary">See offers</button></a></td>
        <td colspan="2"><a href="/request/list"> <button type="button" value="return" class="btn btn-outline-secondary">See requests</button></a></td>
        <td th:if="*{student == null}" colspan="2"><a href="/login"> <button type="button" value="return" class="btn btn-outline-secondary">Sign in</button></a></td>
        <td th:unless="*{student == null}" colspan="2"><a href="/logout"> <button type="button" value="return" class="btn btn-outline-secondary">Sign out</button></a></td>
        <td th:if="*{student != null and student.skp == true}" colspan="2"><a href="/menu.html"> <button type="button" value="menu skp" class="btn btn-outline-secondary">Menu skp</button></a></td>
    </div>

</body>
</html>