<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css"
          href="/css/skill.css"
          th:href="@{/css/skill.css}"/>
    <title>Login</title>
    <meta charset="UTF-8"/>
</head>
<body>
    <h2>Login</h2>
    <form action="#" th:action="@{/login}"
          th:object="${student}" method="post">
        <p>
            <label>User ID (DNI):</label>
            <input class="form_control" type="text" th:field="*{dni}" maxlength="9"/>
        <div class="error" th:if="${#fields.hasErrors('dni')}"
             th:errors="*{dni}"></div>
        </p>
        <p>
            <label>Password:</label>
            <input class="form_control" type="text" th:field="*{pwd}"/>
        <div class="error" th:if="${#fields.hasErrors('pwd')}"
             th:errors="*{pwd}"></div>
        </p>
        <input type="submit" value="Login" />
    </form>
</body>
</html>